<div class="module" >
	<section class="entry">
		<label> Enter city name: <input type="text" ng-model="weather.input"></label>
		<button type="button" class="btn btn-default btn-sm" ng-click="weather.addCity(weather.input)">add City</button>
	</section>

	<uib-tabset active="active">
		<uib-tab index="$index" ng-repeat="city in weather.cities" heading="{{city.name}}">
		  <div class="tab-inlet">
		  	<p>{{city.content.item.condition.date}}</p>
		  	<p ng-hide="!city.unit">{{city.content.item.condition.temp}}</p>
		  	<p ng-hide="city.unit">{{city.content.item.condition.tempC}}</p>
		  	<p>{{city.content.item.condition.text}}</p>
		  	<p>{{city.content.lastBuildDate}}</p>
		  	<button type="button" class="btn btn-default" ng-click="city.isCollapsed = !city.isCollapsed">Display forecast</button>
		  	<div class="btn-group">
			    <button class="btn btn-success" ng-model="city.unit" uib-btn-radio="false">C</button>
			    <button class="btn btn-success" ng-model="city.unit" uib-btn-radio="true">F</button>
			</div>

			<div class="extended-forecast" uib-collapse="!city.isCollapsed">
				<div class="btn-group">
			        <button class="btn btn-success" ng-model="city.singleModel" uib-btn-radio="'5'">5 D</button>
			        <button class="btn btn-success" ng-model="city.singleModel" uib-btn-radio="'10'">10 D</button>
			    </div>
			    <div class="forecast">
					<div ng-hide="!city.unit" ng-repeat="day in city.content.item.forecast | limitTo:city.singleModel ">{{day.low}} {{day.high}}</div>
					<div ng-hide="city.unit" ng-repeat="day in city.content.item.forecast | limitTo:city.singleModel ">{{day.lowC}}  {{day.highC}}</div>
				</div>
			</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>